In [1]:
import pandas as pd
import numpy as np

In [23]:
data = pd.read_csv('data/LoanStats3a_securev1.csv')

/Users/ajaykliyara/anaconda_py3/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (0,49) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [24]:
data.shape

(42540, 115)

In [5]:
data = pd.read_csv("data/loan_2007_2011.csv")

/Users/ajaykliyara/anaconda_py3/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (0,47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [25]:
data.shape

(42540, 115)

In [26]:
data.head(2)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [27]:
for i in data.columns:
    print(i)

id
member_id
loan_amnt
funded_amnt
funded_amnt_inv
term
int_rate
installment
grade
sub_grade
emp_title
emp_length
home_ownership
annual_inc
verification_status
issue_d
loan_status
pymnt_plan
url
desc
purpose
title
zip_code
addr_state
dti
delinq_2yrs
earliest_cr_line
fico_range_low
fico_range_high
inq_last_6mths
mths_since_last_delinq
mths_since_last_record
open_acc
pub_rec
revol_bal
revol_util
total_acc
initial_list_status
out_prncp
out_prncp_inv
total_pymnt
total_pymnt_inv
total_rec_prncp
total_rec_int
total_rec_late_fee
recoveries
collection_recovery_fee
last_pymnt_d
last_pymnt_amnt
next_pymnt_d
last_credit_pull_d
last_fico_range_high
last_fico_range_low
collections_12_mths_ex_med
mths_since_last_major_derog
policy_code
application_type
annual_inc_joint
dti_joint
verification_status_joint
acc_now_delinq
tot_coll_amt
tot_cur_bal
open_acc_6m
open_il_6m
open_il_12m
open_il_24m
mths_since_rcnt_il
total_bal_il
il_util
open_rv_12m
open_rv_24m
max_bal_bc
all_util
total_rev_hi_lim
inq_fi
total_cu_tl
inq_last_12m
acc_open_past_24mths
avg_cur_bal
bc_open_to_buy
bc_util
chargeoff_within_12_mths
delinq_amnt
mo_sin_old_il_acct
mo_sin_old_rev_tl_op
mo_sin_rcnt_rev_tl_op
mo_sin_rcnt_tl
mort_acc
mths_since_recent_bc
mths_since_recent_bc_dlq
mths_since_recent_inq
mths_since_recent_revol_delinq
num_accts_ever_120_pd
num_actv_bc_tl
num_actv_rev_tl
num_bc_sats
num_bc_tl
num_il_tl
num_op_rev_tl
num_rev_accts
num_rev_tl_bal_gt_0
num_sats
num_tl_120dpd_2m
num_tl_30dpd
num_tl_90g_dpd_24m
num_tl_op_past_12m
pct_tl_nvr_dlq
percent_bc_gt_75
pub_rec_bankruptcies
tax_liens
tot_hi_cred_lim
total_bal_ex_mort
total_bc_limit
total_il_high_credit_limit

In [28]:
#this verifies number of id's equal to number of records, therefore every row represents a
#unique customer
print(len(data['id'].unique()))
print(len(data['member_id'].unique()))

42537
42536

In [29]:
#loan_amnt != funded_amnt, therefore removing funded amnt
np.mean(data['loan_amnt'] != data['funded_amnt'])

0.047061589092618712

In [30]:
#emp title stands for designation of applier, high dimensional, leaving out for now
data['emp_title'].unique().shape

(30660,)

In [31]:
data['term'].unique()

array([' 36 months', ' 60 months', nan], dtype=object)

In [32]:
data.groupby('loan_status')['loan_status'].count()

loan_status
Charged Off                                             5655
Current                                                  445
Default                                                    1
Does not meet the credit policy. Status:Charged Off      761
Does not meet the credit policy. Status:Fully Paid      1988
Fully Paid                                             33663
In Grace Period                                            9
Late (16-30 days)                                          3
Late (31-120 days)                                        10
Name: loan_status, dtype: int64

In [ ]:
#may be just retain charged_off == bad customer, defaulted on loan
#fully paid = good customer

In [33]:
#all applications are individual , no joints therefore will drop all joint attributes.
data['application_type'].unique()

array(['INDIVIDUAL', nan], dtype=object)

In [34]:
data['mort_acc'].unique()

array([ nan])

In [35]:
#id,member_id - unique customer id's , does not contribute to ML models
field_deleted = ['id','member_id','issue_d','pymnt_plan','url','title','addr_state',
                 'initial_list_status','out_prncp','out_prncp_inv','total_pymnt',
                 'total_pymnt_inv','total_rec_prncp','total_rec_int','total_rec_late_fee',
                 'recoveries','collection_recovery_fee','last_pymnt_d','last_pymnt_amnt','next_pymnt_d',
                 'last_credit_pull_d','collections_12_mths_ex_med','policy_code','annual_inc_joint','dti_joint','verification_status_joint','open_il_6m','open_il_12m','open_il_24m','total_bal_il','open_rv_12m','open_rv_24m','total_cu_tl','mort_acc','mo_sin_old_il_acct','mo_sin_old_rev_tl_op','mo_sin_rcnt_rev_tl_op','mo_sin_rcnt_tl','mths_since_recent_bc',
                 'mths_since_recent_bc_dlq','mths_since_recent_inq','mths_since_recent_revol_delinq','num_accts_ever_120_pd','num_actv_bc_tl','num_actv_rev_tl','num_bc_sats','num_bc_tl','num_il_tl','num_op_rev_tl','num_rev_accts','num_rev_tl_bal_gt_0','num_sats','num_tl_120dpd_2m','num_tl_30dpd','num_tl_90g_dpd_24m','num_tl_op_past_12m']
field_retained = ['loan_amnt','funded_amnt','funded_amnt_inv','zip_code','term','int_rate','installment','grade','sub_grade','emp_length','home_ownership','annual_inc','verification_status','desc','purpose','dti','delinq_2yrs','earliest_cr_line','inq_last_6mths',
                  'mths_since_last_delinq','mths_since_last_record','open_acc','total_acc','revol_bal','revol_util','mths_since_last_major_derog','acc_now_delinq','tot_coll_amt','tot_cur_bal','mths_since_rcnt_il','il_util','max_bal_bc','all_util','total_rev_hi_lim','inq_fi','inq_last_12m','acc_open_past_24mths','avg_cur_bal','bc_open_to_buy',
                  'bc_util','chargeoff_within_12_mths','pct_tl_nvr_dlq','percent_bc_gt_75','pub_rec_bankruptcies','tax_liens','tot_hi_cred_lim','total_bal_ex_mort','total_bc_limit','total_il_high_credit_limit','fico_range_high','fico_range_low','loan_status']

In [ ]:
#note - multiply installment by 12 and find ratio of annual_inc and may be use that as a predictor

In [ ]:
#desc - can be used for potential text analysis

In [ ]:
#zip code, addr state can be used for visualizing data on a map

In [ ]:
#dti dti joint can be correlated to income as it is dervied from it

In [ ]:
#out_prncp, out_prncp_inv not usefull when considering closed/default loans, so removing
#similarly for total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee

In [36]:
data_ss = data.loc[:,field_retained]

In [37]:
data_ss.shape

(42540, 52)

In [38]:
data_ss.to_csv('data/loan_ss_2007_2011.csv',index=False)

In [39]:
data_ss_r = pd.read_csv('data/loan_ss_2007_2011.csv')

In [40]:
data_ss_r.shape

(42540, 52)

In [41]:
data_ss_r.head()

,loan_amnt,funded_amnt,funded_amnt_inv,zip_code,term,int_rate,installment,grade,sub_grade,emp_length,...,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,fico_range_high,fico_range_low,loan_status
0,5000.0,5000.0,4975.0,860xx,36 months,10.65%,162.87,B,B2,10+ years,...,NaN,0.0,0.0,NaN,NaN,NaN,NaN,739.0,735.0,Fully Paid
1,2500.0,2500.0,2500.0,309xx,60 months,15.27%,59.83,C,C4,< 1 year,...,NaN,0.0,0.0,NaN,NaN,NaN,NaN,744.0,740.0,Charged Off
2,2400.0,2400.0,2400.0,606xx,36 months,15.96%,84.33,C,C5,10+ years,...,NaN,0.0,0.0,NaN,NaN,NaN,NaN,739.0,735.0,Fully Paid
3,10000.0,10000.0,10000.0,917xx,36 months,13.49%,339.31,C,C1,10+ years,...,NaN,0.0,0.0,NaN,NaN,NaN,NaN,694.0,690.0,Fully Paid
4,3000.0,3000.0,3000.0,972xx,60 months,12.69%,67.79,B,B5,1 year,...,NaN,0.0,0.0,NaN,NaN,NaN,NaN,699.0,695.0,Current

In [48]:
data_ss_r.zip_code.unique()

array(['860xx', '309xx', '606xx', '917xx', '972xx', '852xx', '280xx',
       '900xx', '958xx', '774xx', '853xx', '913xx', '245xx', '951xx',
       '641xx', '921xx', '067xx', '890xx', '770xx', '335xx', '799xx',
       '605xx', '103xx', '150xx', '326xx', '564xx', '141xx', '080xx',
       '330xx', '974xx', '934xx', '405xx', '946xx', '445xx', '850xx',
       '604xx', '292xx', '088xx', '180xx', '029xx', '700xx', '010xx',
       '441xx', '104xx', '061xx', '616xx', '947xx', '914xx', '765xx',
       '980xx', '017xx', '752xx', '787xx', '077xx', '540xx', '225xx',
       '440xx', '437xx', '559xx', '912xx', '325xx', '300xx', '923xx',
       '352xx', '013xx', '146xx', '074xx', '786xx', '937xx', '331xx',
       '115xx', '191xx', '114xx', '908xx', '902xx', '992xx', '750xx',
       '950xx', '329xx', '226xx', '614xx', '802xx', '672xx', '083xx',
       '100xx', '926xx', '931xx', '712xx', '060xx', '707xx', '342xx',
       '895xx', '430xx', '919xx', '996xx', '891xx', '935xx', '801xx',
       '928xx', '233xx', '927xx', '970xx', '211xx', '303xx', '070xx',
       '194xx', '263xx', '403xx', '301xx', '553xx', '993xx', '312xx',
       '432xx', '602xx', '216xx', '151xx', '971xx', '305xx', '334xx',
       '050xx', '129xx', '925xx', '483xx', '760xx', '961xx', '200xx',
       '085xx', '981xx', '601xx', '117xx', '063xx', '920xx', '543xx',
       '775xx', '570xx', '038xx', '221xx', '985xx', '113xx', '275xx',
       '236xx', '148xx', '028xx', '450xx', '532xx', '729xx', '321xx',
       '959xx', '941xx', '955xx', '217xx', '880xx', '660xx', '062xx',
       '193xx', '761xx', '857xx', '306xx', '271xx', '142xx', '956xx',
       '983xx', '945xx', '109xx', '112xx', '187xx', '630xx', '435xx',
       '488xx', '287xx', '705xx', '592xx', '318xx', '549xx', '212xx',
       '347xx', '274xx', '265xx', '785xx', '027xx', '089xx', '813xx',
       '069xx', '260xx', '201xx', '349xx', '322xx', '075xx', '124xx',
       '940xx', '967xx', '111xx', '773xx', '997xx', '076xx', '538xx',
       '021xx', '304xx', '234xx', '308xx', '809xx', '071xx', '363xx',
       '296xx', '240xx', '830xx', '011xx', '622xx', '207xx', '140xx',
       '336xx', '619xx', '208xx', '618xx', '014xx', '644xx', '283xx',
       '276xx', '631xx', '243xx', '960xx', '181xx', '922xx', '224xx',
       '975xx', '105xx', '986xx', '218xx', '652xx', '782xx', '410xx',
       '480xx', '328xx', '719xx', '982xx', '065xx', '081xx', '954xx',
       '346xx', '442xx', '025xx', '122xx', '173xx', '282xx', '120xx',
       '082xx', '766xx', '229xx', '840xx', '744xx', '933xx', '451xx',
       '907xx', '728xx', '159xx', '333xx', '293xx', '701xx', '984xx',
       '811xx', '597xx', '957xx', '165xx', '720xx', '119xx', '359xx',
       '195xx', '084xx', '969xx', '924xx', '531xx', '716xx', '337xx',
       '841xx', '323xx', '740xx', '179xx', '805xx', '285xx', '551xx',
       '658xx', '944xx', '232xx', '905xx', '600xx', '327xx', '711xx',
       '906xx', '444xx', '856xx', '064xx', '777xx', '072xx', '554xx',
       '145xx', '537xx', '152xx', '847xx', '295xx', '829xx', '320xx',
       '131xx', '939xx', '572xx', '281xx', '550xx', '078xx', '452xx',
       '778xx', '313xx', '851xx', '784xx', '804xx', '571xx', '210xx',
       '988xx', '400xx', '995xx', '023xx', '158xx', '657xx', '016xx',
       '019xx', '290xx', '190xx', '366xx', '066xx', '991xx', '968xx',
       '721xx', '439xx', '640xx', '546xx', '024xx', '751xx', '431xx',
       '741xx', '904xx', '156xx', '316xx', '299xx', '087xx', '739xx',
       '949xx', '261xx', '073xx', '222xx', '244xx', '617xx', '018xx',
       '286xx', '759xx', '952xx', '930xx', '911xx', '220xx', '731xx',
       '730xx', '262xx', '338xx', '160xx', '031xx', '054xx', '223xx',
       '272xx', '882xx', '557xx', '797xx', '725xx', '130xx', '030xx',
       '206xx', '324xx', '170xx', '291xx', '161xx', '647xx', '916xx',
       '665xx', '209xx', '915xx', '110xx', '086xx', '484xx', '844xx',
       '020xx', '354xx', '448xx', '978xx', '757xx', '953xx', '577xx',
       '315xx', '664xx', '186xx', '182xx', '574xx', '800xx', '197xx',
       '137xx', '314xx', '755xx', '973xx', '603xx', '481xx', '780xx',
       '894xx', '341xx', '361xx', '178xx', '068xx', '565xx', '611xx',
       '288xx', '443xx', '662xx', '874xx', '560xx', '535xx', '499xx',
       '162xx', '756xx', '168xx', '827xx', '541xx', '615xx', '989xx',
       '037xx', '863xx', '339xx', '367xx', '273xx', '052xx', '623xx',
       '416xx', '648xx', '918xx', '436xx', '898xx', '674xx', '496xx',
       '294xx', '762xx', '128xx', '903xx', '932xx', '650xx', '246xx',
       '633xx', '666xx', '228xx', '015xx', '302xx', '573xx', '118xx',
       '998xx', '767xx', '490xx', '350xx', '591xx', '254xx', '566xx',
       '596xx', '637xx', '032xx', '763xx', '871xx', '494xx', '402xx',
       '545xx', '184xx', '458xx', '239xx', '977xx', '297xx', '284xx',
       '144xx', '748xx', '310xx', '147xx', '153xx', '544xx', '948xx',
       '576xx', '976xx', '107xx', '846xx', '344xx', '351xx', '754xx',
       '910xx', '656xx', '357xx', '791xx', '493xx', '855xx', '278xx',
       '125xx', '175xx', '530xx', '171xx', '703xx', '620xx', '438xx',
       '626xx', '307xx', '636xx', '319xx', '116xx', '645xx', '708xx',
       '816xx', '625xx', '133xx', '612xx', '238xx', '166xx', '231xx',
       '241xx', '826xx', '783xx', '793xx', '646xx', '188xx', '108xx',
       '653xx', '057xx', '796xx', '990xx', '219xx', '724xx', '456xx',
       '214xx', '237xx', '737xx', '121xx', '199xx', '548xx', '453xx',
       '704xx', '368xx', '828xx', '598xx', '136xx', '610xx', '433xx',
       '722xx', '743xx', '810xx', '706xx', '235xx', '139xx', '613xx',
       '454xx', '317xx', '746xx', '446xx', '486xx', '033xx', '279xx',
       '407xx', '803xx', '794xx', '457xx', '189xx', '196xx', '539xx',
       '424xx', '492xx', '482xx', '667xx', '845xx', '608xx', '401xx',
       '362xx', '627xx', '717xx', '356xx', '607xx', '963xx', '198xx',
       '936xx', '713xx', '227xx', '883xx', '563xx', '893xx', '079xx',
       '806xx', '360xx', '172xx', '422xx', '768xx', '034xx', '735xx',
       '870xx', '012xx', '594xx', '215xx', '628xx', '749xx', '101xx',
       '814xx', '255xx', '745xx', '495xx', '132xx', '183xx', '864xx',
       '106xx', '663xx', '943xx', '094xx', '177xx', '365xx', '897xx',
       '776xx', '843xx', '421xx', '253xx', '795xx', '727xx', '528xx',
       '270xx', '808xx', '277xx', '447xx', '358xx', '815xx', '250xx',
       '230xx', '790xx', '884xx', '242xx', '534xx', '404xx', '397xx',
       '434xx', '671xx', '655xx', '675xx', '053xx', '859xx', '126xx',
       '102xx', '256xx', '673xx', '489xx', '258xx', '423xx', '497xx',
       '788xx', '127xx', '176xx', '380xx', '058xx', '635xx', '498xx',
       '820xx', '599xx', '822xx', '638xx', '723xx', '449xx', '420xx',
       '157xx', '726xx', '185xx', '527xx', '298xx', '769xx', '257xx',
       '881xx', '575xx', '624xx', '134xx', '877xx', '781xx', '718xx',
       '670xx', '138xx', '026xx', '678xx', '398xx', '411xx', '149xx',
       '247xx', '875xx', '838xx', '651xx', '364xx', '203xx', '427xx',
       '629xx', '355xx', '174xx', '547xx', '567xx', '558xx', '135xx',
       '035xx', '999xx', '634xx', '455xx', '143xx', '154xx', '562xx',
       '779xx', '561xx', '734xx', '789xx', '812xx', '268xx', '051xx',
       '865xx', '406xx', '661xx', '758xx', '676xx', '491xx', '267xx',
       '609xx', '595xx', '259xx', '163xx', '264xx', '409xx', '376xx',
       '471xx', '375xx', '747xx', '123xx', '714xx', '590xx', '639xx',
       '412xx', '425xx', '022xx', '369xx', '164xx', '825xx', '266xx',
       '096xx', '487xx', '251xx', '593xx', '169xx', '413xx', '155xx',
       '764xx', '710xx', '408xx', '668xx', '056xx', '669xx', '167xx',
       '542xx', '679xx', '462xx', '792xx', '824xx', '249xx', '798xx',
       '370xx', '485xx', '654xx', '289xx', '807xx', '252xx', '556xx',
       '353xx', '677xx', '090xx', '371xx', '831xx', '736xx', '007xx',
       '332xx', '468xx', '461xx', '093xx', '248xx', '463xx', '391xx',
       '381xx', '415xx', '378xx', '414xx', '396xx', '836xx', '044xx',
       '392xx', '772xx', '374xx', '823xx', '395xx', '394xx', '965xx',
       '390xx', '388xx', '386xx', '040xx', '385xx', '379xx', '681xx',
       '837xx', '373xx', '753xx', '834xx', '383xx', '384xx', '372xx',
       '833xx', '522xx', '523xx', '474xx', '465xx', '689xx', '473xx',
       '041xx', '685xx', '479xx', '469xx', nan, '738xx', '418xx', '204xx',
       '059xx', '878xx', '460xx', '426xx', '514xx', '500xx', '503xx',
       '832xx', '691xx', '470xx', '036xx'], dtype=object)

In [64]:
data_ss_r.columns

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'zip_code', 'term',
       'int_rate', 'installment', 'grade', 'sub_grade', 'emp_length',
       'home_ownership', 'annual_inc', 'verification_status', 'desc',
       'purpose', 'dti', 'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths',
       'mths_since_last_delinq', 'mths_since_last_record', 'open_acc',
       'total_acc', 'revol_bal', 'revol_util', 'mths_since_last_major_derog',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'mths_since_rcnt_il',
       'il_util', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi',
       'inq_last_12m', 'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy',
       'bc_util', 'chargeoff_within_12_mths', 'pct_tl_nvr_dlq',
       'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens',
       'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit', 'fico_range_high', 'fico_range_low',
       'loan_status'],
      dtype='object')

In [65]:
data_ss_r.groupby('loan_status')['loan_status'].count()

loan_status
Charged Off                                             5655
Current                                                  445
Default                                                    1
Does not meet the credit policy. Status:Charged Off      761
Does not meet the credit policy. Status:Fully Paid      1988
Fully Paid                                             33663
In Grace Period                                            9
Late (16-30 days)                                          3
Late (31-120 days)                                        10
Name: loan_status, dtype: int64

In [66]:
data_ss_r2 = data_ss_r.loc[data_ss_r.loan_status.isin(['Charged Off','Fully Paid']),:]

In [67]:
data_ss_r2.groupby('loan_status')['loan_status'].count()

loan_status
Charged Off     5655
Fully Paid     33663
Name: loan_status, dtype: int64

In [68]:
data_ss_r2.to_csv('data/loan_ss_2007_2011.csv',index=False)

In [69]:
data_ss_r2.shape

(39318, 52)

In [70]:
data_r = pd.read_csv('data/loanstats_2015_R.csv')

In [71]:
data_r.shape

(39998, 18)

In [72]:
data_r.head()

,Unnamed: 0,loan_amnt,term,emp_length,home_ownership,annual_inc,addr_state,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,pub_rec_bankruptcies,fico,is_bad
0,1,5000,3,1,RENT,24000.0,AZ,27.65,0,1,3,0,13648,83.7,9,0,737,0
1,2,2500,6,1,RENT,30000.0,GA,1.00,0,5,3,0,1687,9.4,4,0,742,1
2,3,2400,3,1,RENT,12252.0,IL,8.72,0,2,2,0,2956,98.5,10,0,737,0
3,4,10000,3,1,RENT,49200.0,CA,20.00,0,1,10,0,5598,21.0,37,0,692,0
4,5,3000,6,1,RENT,80000.0,OR,17.94,0,0,15,0,27783,53.9,38,0,697,0

In [73]:
data = pd.read_csv('data/loan_ss_2007_2011.csv')

### Text Analysis

In [74]:
import nltk
stopwords = nltk.corpus.stopwords.words('english')
from nltk.stem.snowball import SnowballStemmer
stemmer = SnowballStemmer("english")

def tokenize_and_rmStop(text):
    tokens = [word for sent in nltk.sent_tokenize(text) for word in nltk.word_tokenize(sent)]
    filtered_tokens = []
    # filter out any tokens not containing letters (e.g., numeric tokens, raw punctuation)
    for token in tokens:
        n_token = re.sub("[^\w]", "",  token)
        if len(n_token) != 0:
            filtered_tokens.append(n_token)
    #removing stop words
    texts = [word for word in filtered_tokens if word not in stopwords]
    
    return texts

In [75]:
def tokenize_and_rmStop_and_stem(text):
    tokens = [word for sent in nltk.sent_tokenize(text) for word in nltk.word_tokenize(sent)]
    filtered_tokens = []
    # filter out any tokens not containing letters (e.g., numeric tokens, raw punctuation)
    for token in tokens:
        n_token = re.sub("[^\w]", "",  token)
        if len(n_token) != 0:
            filtered_tokens.append(n_token)
    #removing stop words
    texts = [word for word in filtered_tokens if word not in stopwords]
    
    #stemming remaining words
    stems = [stemmer.stem(t) for t in texts]
    
    return stems

In [81]:
from sklearn.feature_extraction.text import TfidfVectorizer
import re
def tfidf(terms, in_max_df = 0.7, in_max_features = 200000, 
          in_min_df = 0.1, in_use_idf = True, 
          in_tokenizer = tokenize_and_rmStop_and_stem,
          in_ngram_range = (1, 1)):
    # compute the TFIDF model
    tfidf_vectorizer = TfidfVectorizer(max_df = in_max_df, max_features = in_max_features,
                                       min_df = in_min_df, 
                                       use_idf = in_use_idf, 
                                       tokenizer = in_tokenizer, 
                                       ngram_range = in_ngram_range)
    # compute the TFIDF values
    tfidf_matrix = tfidf_vectorizer.fit_transform(terms) #fit the vectorizer to synopses
    
    # convert to a matrix and get the term names
    tfidf_matrix = tfidf_matrix.A # to array
    term_names = tfidf_vectorizer.get_feature_names()
    
    # create a pandas dataframe from the matrix
    df = pd.DataFrame()
    df = pd.DataFrame(data = tfidf_matrix, columns = term_names)
    
    # return the matrix and data frame to the caller
    return tfidf_matrix, df

In [82]:
matrix,df = tfidf(data.desc.values.astype(str))

In [78]:
data.desc[3]

"  Borrower added on 12/21/11 > to pay for property tax (borrow from friend, need to pay back) & central A/C need to be replace. I'm very sorry to let my loan expired last time.<br>"

In [83]:
df.head()

,ad,bill,borrow,br,card,consolid,credit,current,debt,fund,...,pay,payment,plan,rate,thank,time,use,work,would,year
0,0.382020,0.0,0.391159,0.388257,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0
1,0.154319,0.0,0.158010,0.235257,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.606425,0.0,0.0,0.000000,0.248817,0.0,0.0,0.0
2,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0
3,0.176156,0.0,0.360741,0.179032,0.0,0.0,0.0,0.0,0.0,0.0,...,0.446999,0.0,0.000000,0.0,0.0,0.307005,0.000000,0.0,0.0,0.0
4,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0

In [84]:
df.columns

Index(['ad', 'bill', 'borrow', 'br', 'card', 'consolid', 'credit', 'current',
       'debt', 'fund', 'get', 'help', 'interest', 'job', 'like', 'loan',
       'make', 'money', 'month', 'nan', 'need', 'one', 'pay', 'payment',
       'plan', 'rate', 'thank', 'time', 'use', 'work', 'would', 'year'],
      dtype='object')

In [85]:
#higher borrow indicates multiple comments
#dropping columns by intution
df = df.drop(['ad','br','nan','would','use','like','get','use','borrow','make','need','one'],axis=1)

In [86]:
df.head()

,bill,card,consolid,credit,current,debt,fund,help,interest,job,...,money,month,pay,payment,plan,rate,thank,time,work,year
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.613525,0.0,0.000000,0.0,0.606425,0.0,0.0,0.000000,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.446999,0.0,0.000000,0.0,0.0,0.307005,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0

In [87]:
from afinn import Afinn

In [88]:
afinn = Afinn()

In [89]:
txt_arr = data.desc.values.astype(str)

In [90]:
txt_senti_score = [afinn.score(i) for i in txt_arr]

In [91]:
data['desc_senti_score'] = txt_senti_score

In [125]:
final_df = pd.concat([data,df],axis=1)

In [126]:
final_df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,zip_code,term,int_rate,installment,grade,sub_grade,emp_length,...,money,month,pay,payment,plan,rate,thank,time,work,year
0,5000.0,5000.0,4975.0,860xx,36 months,10.65%,162.87,B,B2,10+ years,...,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0
1,2500.0,2500.0,2500.0,309xx,60 months,15.27%,59.83,C,C4,< 1 year,...,0.613525,0.0,0.000000,0.0,0.606425,0.0,0.0,0.000000,0.0,0.0
2,2400.0,2400.0,2400.0,606xx,36 months,15.96%,84.33,C,C5,10+ years,...,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0
3,10000.0,10000.0,10000.0,917xx,36 months,13.49%,339.31,C,C1,10+ years,...,0.000000,0.0,0.446999,0.0,0.000000,0.0,0.0,0.307005,0.0,0.0
4,5000.0,5000.0,5000.0,852xx,36 months,7.90%,156.46,A,A4,3 years,...,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0

In [45]:
#reading zipcode data

zip_code_df = pd.read_excel('data/zip_attr.xlsx')

In [47]:
zip_code_df.head(2)

    Zip      Median     Mean    Pop
0  1001  56662.5735  66687.8  16445
1  1002  49853.4177  75062.6  28069

In [52]:
np.unique(zip_code_df.Zip.apply(str).apply(len))

array([4, 5])

In [54]:
def exp_zip(zip):
    if len(str(zip)) < 5:
        return '0' + str(zip)
    else:
        return str(zip)

In [55]:
zip_code_df['zip_5'] = [exp_zip(zip) for zip in zip_code_df.Zip.values]

In [56]:
zip_code_df.head(2)

    Zip      Median     Mean    Pop  zip_5
0  1001  56662.5735  66687.8  16445  01001
1  1002  49853.4177  75062.6  28069  01002

In [57]:
zip_code_df['zip_3'] = [zip[:3] for zip in zip_code_df.zip_5.values]

In [58]:
zip_code_df.head(2)

    Zip      Median     Mean    Pop  zip_5 zip_3
0  1001  56662.5735  66687.8  16445  01001   010
1  1002  49853.4177  75062.6  28069  01002   010

In [60]:
zip_code_agg = zip_code_df.groupby('zip_3')['Median','Pop'].mean()

In [62]:
zip_code_agg = zip_code_agg.reset_index()
zip_code_agg.head(2)

  zip_3        Median           Pop
0   010  61658.753829   7257.177419
1   011  43307.118338  12896.461538

In [120]:
np.unique(zip_code_agg.Pop.isnull())

array([False], dtype=bool)

In [63]:
zip_code_agg.to_csv('data/zip3_agg.csv',index=False)

In [128]:
#join with final df
final_df['zip_3'] = [zip[:3] for zip in final_df.zip_code.values]

In [129]:
final_df.shape

(39318, 75)

In [130]:
final_df_cols = list(final_df.columns)

In [131]:
join_df = pd.merge(final_df,zip_code_agg,how='inner',on='zip_3')

In [132]:
join_df.shape

(39301, 77)

In [133]:
join_df = join_df.drop(['zip_code','zip_3'],axis=1)
join_df.columns

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'emp_length', 'home_ownership',
       'annual_inc', 'verification_status', 'desc', 'purpose', 'dti',
       'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths',
       'mths_since_last_delinq', 'mths_since_last_record', 'open_acc',
       'total_acc', 'revol_bal', 'revol_util', 'mths_since_last_major_derog',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'mths_since_rcnt_il',
       'il_util', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi',
       'inq_last_12m', 'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy',
       'bc_util', 'chargeoff_within_12_mths', 'pct_tl_nvr_dlq',
       'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens',
       'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit', 'fico_range_high', 'fico_range_low',
       'loan_status', 'desc_senti_score', 'bill', 'card', 'consolid', 'credit',
       'current', 'debt', 'fund', 'help', 'interest', 'job', 'loan', 'money',
       'month', 'pay', 'payment', 'plan', 'rate', 'thank', 'time', 'work',
       'year', 'Median', 'Pop'],
      dtype='object')

In [134]:
join_df = join_df.rename(columns={'Median':'zip_median_income','Pop':'zip_pop'})

In [135]:
join_df.columns

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'emp_length', 'home_ownership',
       'annual_inc', 'verification_status', 'desc', 'purpose', 'dti',
       'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths',
       'mths_since_last_delinq', 'mths_since_last_record', 'open_acc',
       'total_acc', 'revol_bal', 'revol_util', 'mths_since_last_major_derog',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'mths_since_rcnt_il',
       'il_util', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi',
       'inq_last_12m', 'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy',
       'bc_util', 'chargeoff_within_12_mths', 'pct_tl_nvr_dlq',
       'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens',
       'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit', 'fico_range_high', 'fico_range_low',
       'loan_status', 'desc_senti_score', 'bill', 'card', 'consolid', 'credit',
       'current', 'debt', 'fund', 'help', 'interest', 'job', 'loan', 'money',
       'month', 'pay', 'payment', 'plan', 'rate', 'thank', 'time', 'work',
       'year', 'zip_median_income', 'zip_pop'],
      dtype='object')

In [136]:
final_df = join_df.copy()

In [137]:
final_df.columns

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'emp_length', 'home_ownership',
       'annual_inc', 'verification_status', 'desc', 'purpose', 'dti',
       'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths',
       'mths_since_last_delinq', 'mths_since_last_record', 'open_acc',
       'total_acc', 'revol_bal', 'revol_util', 'mths_since_last_major_derog',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'mths_since_rcnt_il',
       'il_util', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi',
       'inq_last_12m', 'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy',
       'bc_util', 'chargeoff_within_12_mths', 'pct_tl_nvr_dlq',
       'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens',
       'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit', 'fico_range_high', 'fico_range_low',
       'loan_status', 'desc_senti_score', 'bill', 'card', 'consolid', 'credit',
       'current', 'debt', 'fund', 'help', 'interest', 'job', 'loan', 'money',
       'month', 'pay', 'payment', 'plan', 'rate', 'thank', 'time', 'work',
       'year', 'zip_median_income', 'zip_pop'],
      dtype='object')

In [138]:
final_df.to_csv('data/loan_with_text_raw.csv',index=False)